<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Parcs et jardins à Nantes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMSu3d3COCmmX8N4GT5CAn_kO0iafVoyE&callback=initMap">
    </script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <style>
  #demo {
	  font-family: 'Helvetica', Arial, sans-serif;
	}
	a {
	  text-decoration: none;
	  color: #f66;
	}
	li {
	  line-height: 1.5em;
	  margin-bottom: 20px;
	}
	.author, .date {
	  font-weight: bold;
	}
  </style>
  </head>

  <body style="background-image: url(wavee.svg); background-repeat: no-repeat;">
  	<div class="container" style="margin-top: 5%; font-family: 'Roboto', sans-serif;" id="demo">
  		<h1 style="margin-bottom: 3%; color: white; font-size: 70px;">Parcs et jardins à Nantes</h1>

  		<div class="row">
			<div v-for="record in records">
				<div class="col-sm" style="margin: 1% 0;">
					<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem; border: none; padding: 5px !important;">
					  <div class="card-body">
					    <h6 class="card-text">{{ record.fields.nom_complet }}</h6>
					    <p style="font-size: 13px;">{{ record.fields.adresse }}</p>
					    <span v-if="record.fields.sanitaires == 'OUI' " class="badge badge-success">
					    Sanitaires</span>
					    <span v-if="record.fields.sanitaires == 'NON' " class="badge badge-danger">
					    Sanitaire</span>

					    <span v-if="record.fields.jardin_clos == 'OUI' " class="badge badge-success">
					    Jardin clos</span>
					    <span v-if="record.fields.jardin_clos == 'NON' " class="badge badge-danger">
					    Jardin clos</span>

					    <span v-if="record.fields.chiens_autorises == 'OUI' " class="badge badge-success">
					    Chiens autorisés</span>
					    <span v-if="record.fields.chiens_autorises == 'NON' " class="badge badge-danger">
					    Chiens autorisés</span>

					    <span v-if="record.fields.abris == 'OUI' " class="badge badge-success">
					    Abris</span>
					    <span v-if="record.fields.abris == 'NON' " class="badge badge-danger">
					    Abris</span>

					    <span v-if="record.fields.point_eau_potable == 'OUI' " class="badge badge-success">
					    Eau potable</span>
					    <span v-if="record.fields.point_eau_potable == 'NON' " class="badge badge-danger">
					    Eau potable</span>

					    <span v-if="record.fields.table_pique_nique == 'OUI' " class="badge badge-success">
					    Pique-nique</span>
					    <span v-if="record.fields.table_pique_nique == 'NON' " class="badge badge-danger">
					    Pique-nique</span>

					    <span v-if="record.fields.sanitaires_handicapes == 'OUI' " class="badge badge-success">
					    Sanitaires handicapés</span>
					    <span v-if="record.fields.sanitaires_handicapes == 'NON' " class="badge badge-danger">
					    Sanitaires handicapés</span>

					    <span v-if="record.fields.jeux_enfants == 'OUI' " class="badge badge-success">
					    Jeux enfants</span>
					    <span v-if="record.fields.jeux_enfants == 'NON' " class="badge badge-danger">
					    Jeux enfants</span>
					    <br><br>
					    <p style="font-weight: 800; font-size: 15px;">Comment y accéder ?</p>
					    <p style="font-size: 12px;">{{ record.fields.acces_transport_commun }}</p>
					  </div>
					</div>
					<!-- <div id="map">{{ initMap(this.record.fields.location[0],
					this.record.fields.location[1]) }}</div> -->
				</div>
  			</div>
  			
  		</div>	  
	</div>

  	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  	<script>
		var demo = new Vue({

		  el: '#demo',

		  data: {
		    branches: ['master', 'dev'],
		    currentBranch: 'master',
		    records: null,
		    afficher: false    
		  },

		  watch: {
		    currentBranch: 'fetchData'
		  },

		  filters: {
		    truncate: function (v) {
		      var newline = v.indexOf('\n')
		      return newline > 0 ? v.slice(0, newline) : v
		    },
		    formatDate: function (v) {
		      return v.replace(/T|Z/g, ' ')
		    }
		  },

		  created(){
		  		this.fetchData();
			},

		  methods: {
		  	initMap: function(latitude, longitude){
		  		var uluru = {lat: latitude, lng: longitude};
				var map = new google.maps.Map(
				document.getElementById('map'), {zoom: 4, center: uluru});
				var marker = new google.maps.Marker({position: uluru, map: map});
		  	},
		    fetchData: function () {
		    	var self = this;

				axios.get('https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_parcs-jardins-nantes&rows=10&facet=libtype&facet=gardien&facet=jeux_enfants&facet=pataugeoire&facet=sanitaires&facet=sanitaires_handicapes&facet=chiens_autorises&facet=jardin_clos&facet=abris&facet=point_eau_potable&facet=table_pique_nique')

				.then(function (response) {
				    // handle success
				    console.log(response);
				    self.records = response.data.records;
				    afficher = true;
				})
				  	.catch(function (error) {
				    // handle error
				    console.log(error);
				})
		    }
		  }
		})		
  	</script>

    <style type="text/css">
    	#map {
		   width: 100%;
		   height: 400px;
		   background-color: grey;
		 }
    </style>
  </body>
</html>